body{
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

div.questions  {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color:lightgrey;
    height: 50vh;
    max-width: 70%;
    max-height: 70%;
    margin-top: 20vh;
    padding-top: 50px;
    column-count: 2;
}



button.first {
    border-color: black;
    height: 30px;
    width: 70px;
 }
 
 button.second {
     border-color: black;
     height: 30px;
     width: 70px;
 }
 
 button.third {
     border-color: black;
     height: 30px;
     width: 70px;
 }
 
 button.fourth {
     border-color: black;
     height: 30px;
     width: 70px;
 }



button.submit {
    border-color: black;
    background-color: green;
    height: 30px;
    width: 70px;
    position:absolute;
    margin-top: 200px;
}