body{
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: large;
    text-decoration: underline;
}

header {
    background-color: aqua;
    width: 100%;
    position: fixed;
    top: 0;

}

div.questions  {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color:lightgrey;
    height: 60vh;
    max-width: 100%;
    padding-top: 50px;
    margin-top: 70px;
    max-height: 100vh;
}


button {
    border-color: black;
    height: 50px;
    width: 90px;
    align-content: center;
    background-color: aqua;
}